@use "../globals/forward.scss" as *;

.card {
  padding: 15px;
  outline: 2px solid #171b21;
  border-radius: 7px;
  background-color: #0f1317;
  line-height: 1.5;
  width: calc((100% - 130px) / 3);
  text-decoration: none;
  cursor: pointer;

  @include md {
    width: 100%;
  }
}

.head {
  display: flex;
  gap: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  box-sizing: border-box;

  > img {
    width: 35px;
    height: 35px;
    object-fit: contain;
  }
}

.toolname {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.provider {
  color: #abb5bf;
  font-size: 14px;
}

.description {
  margin-top: 20px;
  color: #abb5bf;
  font-size: 14px;
}
