@use "../globals/forward.scss" as *;

.card {
  outline: 2px solid #171b21;
  border-radius: 7px;
  background-color: #0f1317;
  line-height: 1.5;
  width: calc((100% - 130px) / 3);
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    outline: white 1px solid;
  }

  @include md {
    width: 100%;
  }
}

.image {
  > img {
    width: 100%;
    border-radius: 7px 7px 0 0;
    aspect-ratio: 1200/630;
    object-fit: cover;
    object-position: center center;
  }
}

.info {
  padding: 15px;
}

.toolname {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.provider {
  color: #abb5bf;
  font-size: 14px;
}

.description {
  margin-top: 20px;
  color: #abb5bf;
  font-size: 14px;
}
