@use "../globals/forward.scss" as *;

.inner {
  padding: 50px 30px;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;

  @include md {
    flex-direction: column;
    max-width: 650px;
  }
}

.main {
  margin-left: 288px;
  width: calc(100% - 288px);

  @include md {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
  }
}

.heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

.description {
  margin-top: 5px;
  color: #9ba6b1;
  line-height: 1.5;
}

.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
